doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Update Custom Object
    a(href="/" class="link") Return to the homepage
    form(class="custom-form", action='/update-cobj', method='post')
      label(for='color') Color:
      input(type='text', name='color', id='color', required)
      
      label(for='description') Description:
      input(type='text', name='description', id='description', required)
      
      label(for='name') Name:
      input(type='text', name='name', id='name', required)
      
      button(type='submit') Submit
    
